# Backend
DATABASE_URL=mongodb://localhost:27017/travel_planner
DATABASE_NAME=travel_planner
USE_MONGO_MEMORY_SERVER=false
BACKEND_PORT=8000

# Frontend
VITE_API_BASE_URL=http://localhost:8000/api
FRONTEND_PORT=5173
