# Byte-compiled / optimized / runnable Python files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# Node
node_modules/
dist/
.vite/
